<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiktok.consumerapp"
    android:versionCode="10"
    android:versionName="1.09" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />

    <permission android:name="com.tiktok.consumerapp.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tiktok.consumerapp.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/topnavbarlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.TikTok" >

        <!-- External Libraries -->
        <uses-library android:name="com.google.android.maps" />

        <!-- TikTok Startup Activity -->
        <activity
            android:label="@string/app_name"
            android:name=".StartupActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Tab Activity -->
        <activity
            android:name=".MainTabActivity"
            android:label="@string/tabs_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Coupons List Activity -->
        <activity
            android:label="@string/tab_list"
            android:name=".CouponListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Coupons Map Activity -->
        <activity
            android:label="@string/tab_map"
            android:name=".CouponMapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Karma Activity -->
        <activity
            android:label="@string/tab_karma"
            android:name=".KarmaActivity"
            android:screenOrientation="portrait" />

        <!-- Settings Activity -->
        <activity
            android:label="@string/tab_settings"
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- Cities Activity -->
        <activity
            android:label="@string/tab_cities"
            android:name=".CitiesActivity"
            android:screenOrientation="portrait" />

        <!-- Coupon Activity -->
        <activity
            android:label="@string/coupon_view"
            android:name=".CouponActivity"
            android:screenOrientation="portrait" />

        <!-- Merchant Activity -->
        <activity
            android:label="@string/merchant_view"
            android:name=".MerchantActivity"
            android:screenOrientation="portrait" />

        <!-- Location Picker Activity -->
        <activity
            android:label="@string/location_picker_view"
            android:name=".LocationPickerActivity"
            android:screenOrientation="portrait" />

        <!-- Dialog Picker Activity -->
        <activity
            android:label="Dialog"
            android:name=".DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TikTok.Dialog" />

        <!-- only C2DM servers can send messages to the app, if permission is not set - any other app can generate it -->
        <receiver android:name=".C2DMReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- receive the message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.tiktok.consumerapp" />
            </intent-filter>
            <!-- receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.tiktok.consumerapp" />
            </intent-filter>
        </receiver>

        <!-- Background Location Service -->
        <service android:enabled="true" android:name=".LocationTracker" />`

        <!-- Content Provider -->
        <provider android:name="TikTokProvider"
                  android:authorities="com.tiktok.consumerapp.provider" />

    </application>

</manifest>
